<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true" version="3.0">
    <display-name>Java EE 6 Starter Application</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/META-INF/spring/spring-*.xml</param-value>
    </context-param>

    <!--<servlet>-->
    <!--<servlet-name>log4j-init</servlet-name>-->
    <!--<servlet-class>com.ringcentraltral.common.web.servlet.Log4jInit</servlet-class>-->
    <!--<init-param>-->
    <!--<param-name>log4j-init-file</param-name>-->
    <!--<param-value>/WEB-INF/log4j.properties</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.view</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>jboss-as-kitchensink</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/spring-*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jboss-as-kitchensink</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.ringcentraltral.common.web.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>error_page</param-name>
            <param-value>/error.html</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  -->

    <error-page>
       <error-code>400</error-code>
       <location>/404.html</location>
    </error-page>

</web-app>