<div class="calendarTable-event">
    <div ng-bind="event.status==1?'Done':'Open'" ng-click="eventCtrl.toggleStatus();"
         class="calendarTable-event-status"></div>
    <div ng-bind-html="desc" ng-show="!editing" ng-click="eventCtrl.edit()"
         class="calendarTable-event-edit"></div>
    <textarea ng-model="event.description" ng-show="editing" class="ng-hide" ng-blur="editing = false"></textarea>

    <div class="calendarTable-event-record">

        <audio controls ng-show="event.path"></audio>
        <div controls ng-show="!event.path">No audio yet</div>
        <div ng-click="eventCtrl.toggleRecord()"
             class="calendarTable-event-manipulate-audio"
             ng-class="recordingInProgress ? 'calendarTable-event-stop' : 'calendarTable-event-start'"></div>
        <div ng-mousedown="eventCtrl.deleteEvent()" class="calendarTable-event-del"></div>
        <div ng-mousedown="eventCtrl.startDrag($event)" class="calendarTable-event-drag"></div>

    </div>

</div>