<div fm-css="calendarTable">
    <div class="calendarTable-navigator-container">
        <div ng-bind="date|date:'MMM yyyy'" class="calendarTable-currentMonth"></div>
        <div class="calendarTable-navigator">
            <div ng-click="ctrl.prevMonth()">&lt;</div>
            <div ng-click="ctrl.nextMonth()">&gt;</div>
        </div>
    </div>
    <div class="calendarTable-main">
        <div class="calendarTable-header calendarTable-row">
            <div ng-repeat="dateOfWeak in datesInWeak" ng-bind="dateOfWeak" class="calendarTable-dateCell">
            </div>
        </div>
        <div class="calendarTable-body">
            <div ng-repeat="weak in weaks" class="calendarTable-row">
                <div ng-repeat="dayItem in weak" class="calendarTable-dateCell" calendar-table-event-receiver
                     ng-class="dayItem.className" ng-click="ctrl.clickDateItem(dayItem.dateString)"
                     date-string="{{dayItem.dateString}}">
                    <div ng-bind="dayItem.date|date:'dd'"></div>
                    <div ng-bind="dayItem.eventsNum || '' "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendarTable-detail">
        <div ng-bind="detail.date|date"></div>
        <div>
            <div ng-repeat="event in detail.events" calendar-table-event event-id="{{event._id}}"
                 date-string="{{detail.dateString}}">
            </div>
            <div class="calendarTable-event">
                <textarea ng-model="newEventDesc"></textarea>
                <button ng-click="ctrl.addNewEvent()">Add</button>
            </div>
        </div>
    </div>
</div>