.calendarTable-main {
    width: 100%;
    min-width: 705px;
    margin: 0 auto;
}

.calendarTable-dateCell {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    min-width: 100px;
    border-right: #326ca6 1px solid;
    border-bottom: #326ca6 1px solid;
    color: #144661;
    padding: 3px;
    transition: 0.5s ease;
}

.calendarTable-outOfMonth {
    color: gray;
}

.calendarTable-navigator-container > div, .calendarTable-navigator > div {
    display: inline-block;
}

.calendarTable-header .calendarTable-dateCell {
    font-weight: bold;
    border-top: #326ca6 1px solid;
}

.calendarTable-body .calendarTable-dateCell {
    height: 50px;
}

.calendarTable-dateCell:first-child {
    border-left: 1px solid #326ca6;
}

.calendarTable-currentMonth {
    width: 65px;
}

.calendarTable-navigator div {
    color: #285e8e;
    font-weight: bold;
    cursor: pointer;
    margin-right: 9px;
}

.calendarTable-today {
    margin-left: 9px;
}

.calendarTable-navigator-container {
    margin: 9px 0;
}

.calendarTable-navigator-container >div {
    margin-right: 12px;
}

.calendarTable-new-event {
    margin-top: 15px;
}

.calendarTable-event >div, calendarTable-new-event > div {
    display: inline-block;
    vertical-align: top;
}

@-webkit-keyframes aSelect {
   to {-webkit-transform: rotateX(360deg);}
}
@-webkit-keyframes aScale {
   from {-webkit-transform: scale(0.1);}
}

@-webkit-keyframes aToRight {
   from {left: -100%; }
   to {left: 0; }
}

.calendarTable-dateCell-selected {
    background: #3276b1;
    color: white;
    -webkit-animation: aSelect 1s ease;
}

.calendarTable-dateCell-mouseOver {
    background: #FF8800;
}

.calendarTable-dateCell-mouseOver, .calendarTable-dateCell-selected {
    font-weight: bold;
    border-radius: 9px;
    box-shadow: gray 1px 1px;
}

.calendarTable-new-event-add {
    vertical-align: top;
}

.calendarTable-search-result {
    display: inline-block;
    margin-left: 10px;
    color: white;
    border: 1px solid #3276b1;
    border-radius: 6px;
    background: #3276b1;
    cursor: pointer;
    padding: 0 3px;
     -webkit-animation: aScale 0.5s ease;
}

.calendarTable-search-results {
    margin: 6px 0;
}

.calendarTable-detail {
    margin-top: 12px;
}

.calendarTable-event-drag {
    cursor: move;
    background: url(/resources/images/drag.png) no-repeat 0 0;
}

.calendarTable-event-del {
    background: url(/resources/images/del.png) no-repeat 0 0;
}

.calendarTable-event-stop {
    background: url(/resources/images/record-stop.png) no-repeat 0 0;
}

.calendarTable-event-start {
    background: url(/resources/images/record-start.png) no-repeat 0 0;
}

.calendarTable-event-drag, .calendarTable-event-del, .calendarTable-event-manipulate-audio {
    visibility: hidden;
    transition: 1s ease;
    width: 24px;
    height: 24px;
}

.calendarTable-event-del, .calendarTable-event-status, .calendarTable-event-edit {
    cursor: pointer;
}

.calendarTable-event textarea, .calendarTable-event-edit {
    width: 580px;
    overflow: hidden;
    margin-left: 6px;
}

.calendarTable-event-status {
    border: 1px solid #3276b1;
    border-radius: 6px;
    padding: 0 3px;
    font-weight: bold;
    color: #0763B3;
    float: left;
}

.calendarTable-event-mouseover .calendarTable-event-del, .calendarTable-event-mouseover .calendarTable-event-drag, .calendarTable-event-mouseover .calendarTable-event-manipulate-audio {
    visibility: visible;
}

.calendarTable-body .calendarTable-dateCell {
    cursor: pointer;
}

.calendarTable-event {
    transition: 0.2s ease;
    overflow: hidden;
    margin: 12px 0;
    overflow: hidden;
    border-left: 3px solid #0763B3;
    padding-left: 6px;
    position: relative;
    -webkit-animation: aToRight 0.5s ease;
}
.calendarTable-row {
     -webkit-animation: aScale 0.5s ease;
}
.calendarTable-event-mouseover .calendarTable-event {
    border-left: 6px solid #FF8800;
}

.calendarTable-search-box input {
    border-radius: 15px;
    padding: 0 9px;
}

div.calendarTable-event-record {
    display: block;
    margin: 6px;
}
span.calendarTable-event-hl {
    color: #ffffff;
    background: #FF8800;
    border-radius: 6px;
    font-weight: bold;
}

.calendarTable-event-record div {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

.calendarTable-event-record audio {
    vertical-align: middle;
}
