.calendarTable-main {
    width: 800px;
}

.calendarTable-dateCell {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    border-right: #326ca6 1px solid;
    border-bottom: #326ca6 1px solid;
}

.calendarTable-outOfMonth {
    color: gray;
}

.calendarTable-navigator-container > div, .calendarTable-navigator > div {
    display: inline-block;
}

.calendarTable-header .calendarTable-dateCell {
    font-weight: bold;
    border-top: #326ca6 1px solid;
}

.calendarTable-body .calendarTable-dateCell {
    height: 50px;
}

.calendarTable-dateCell:first-child {
    border-left: 1px solid #326ca6;
}

.calendarTable-currentMonth {
    width: 65px;
}

.calendarTable-navigator div {
    color: #285e8e;
    font-weight: bold;
    cursor: pointer;
    margin-right: 9px;
}

.calendarTable-today {
    margin-left: 9px;
}

.calendarTable-navigator-container {
    margin: 9px 0;
}

.calendarTable-navigator-container >div {
    margin-right: 12px;
}

.calendarTable-new-event {
    margin-top: 15px;
}

.calendarTable-event >div, calendarTable-new-event > div {
    display: inline-block;
    vertical-align: top;
}

.calendarTable-dateCell-selected {
    background: #3276b1;
    color: white;;
}

.calendarTable-dateCell-mouseOver {
    background: #FF8800;
}

.calendarTable-new-event-add {
    vertical-align: top;
}

.calendarTable-search-result {
    display: inline-block;
    margin-left: 10px;
    color: white;
    border: 1px solid #3276b1;
    border-radius: 6px;
    background: #3276b1;
    cursor: pointer;
    padding: 0 3px;
}
.calendarTable-search-results {
    margin: 6px 0;
}
.calendarTable-detail {
    margin-top: 12px;
}

.calendarTable-event-drag {
    cursor: move;
}

.calendarTable-event-drag, .calendarTable-event-del {
    visibility: hidden;
}

.calendarTable-event-del, .calendarTable-event-status, .calendarTable-event-edit {
    cursor: pointer;
}

.calendarTable-event-edit {
    width: 580px;
    overflow: hidden;
    margin-left: 6px;
}

.calendarTable-event-status {
    border: 1px solid #3276b1;
    border-radius: 6px;
    padding: 0 3px;
    font-weight: bold;
    color: #0763B3;
    float: left;
}

.calendarTable-event-mouseover .calendarTable-event-del, .calendarTable-event-mouseover .calendarTable-event-drag {
    visibility: visible;
}

.calendarTable-body .calendarTable-dateCell {
    cursor: pointer;
}

.calendarTable-event {
    margin: 3px 0;
    overflow: hidden;
}

.calendarTable-search-box input {
    border-radius: 15px;
    padding: 0 9px;
}
