<div fm-left-menu-container>
    <div fm-css="manageUsers" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" fm-left-menu>
            <li fm-open="addUser" fm-open-at="window" fm-window-width="400px" fm-title="add user" fm-hash='add'>
                <a>add user</a>
            </li>
            <li fm-open="listUsers" fm-open-at="fm-view" fm-title="list users" fm-hash='list'>
                <a>list user</a>
            </li>
            <li fm-open="listUsers" fm-open-at="window" fm-title="menu 3" fm-hash='m3'>
                <a>menu 3</a>
            </li>
        </ul>
    </div>
    <fm-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">{{title}}</div>
    </fm-view>
</div>